.bsp/
.idea
logs
project/target
project/project/target
target
null
.scalafix.conf
webui.sbt
assignment.sbt
.bloop/
.metals/
.vscode/
project/.bloop/
project/metals.sbt
project/project/
app/v1/product/untitled.sc


